@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white; 
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Roboto.woff2') format('woff2');
}

@layer base {
  li {
    @apply p-4;
  }

  .button {
    @apply text-white border bg-[#001AA4] border-[#001AA4] hover:bg-transparent hover:text-[#001AA4] rounded-md;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .line-break {
    white-space: pre-wrap;
  }

  .hero-section {
    height: 73vh;
  }

  @media (max-width: 768px) {
    .hero-section {
      height: 40vh;
    }
  }

  footer h2 {
    font-size: 20px;
  }

  footer {
    position: relative; /* Ensure the footer has relative positioning */
  }

  .marker {
    @apply flex justify-center items-center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  .location-icon {
    @apply text-red-500 text-xl; /* Customize icon color and size */
  }

}

.button-shadow {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.button-shadow:hover {
  box-shadow: 0 -6px 8px -2px rgba(0, 0, 0, 0.2), 0 12px 20px -5px rgba(0, 0, 0, 0.2);
}


.fade-in {
  opacity: 0;
  animation: fadeInAnimation ease 1s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.footer-column:nth-child(3) {
  order: 1; /* First column */
}
.footer-column:nth-child(4) {
  order: 2; /* Second column */
}

/* Medium screens and up - reset to original order */
@media (min-width: 768px) {
  .footer-column {
    order: initial;
  }
}

.high-contrast {
  background-color: black;
  color: white;
}

.high-contrast a,
.high-contrast li {
  color: yellow;
}

.high-contrast button {
  background-color: yellow;
  color: black;
}

/* Ensure that accessibility menu text remains black */
.accessibility-menu * {
  color: black !important;
}








