/* @import './styles/navbar.css'; */
@import './styles/hero.css';
@import './styles/footer.css';
/* @import './styles/map.css'; */
/* @import './styles/newsCard.css';
@import './styles/newsSection.css';
@import './styles/clientCount.css'; */
@import './styles/certificatesSection.css';
@import './styles/buttonGrid.css';
@import './styles/breadcrumbs.css';
@import './styles/accessibilityButton.css';
@import './styles/nav.css';
/* In your main CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset and Box Sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

/* Font Face */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap'); /* Using Google Fonts */
}

/* Typography and Base Elements */
@layer base {
  li {
    @apply p-4;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .line-break {
    white-space: pre-wrap;
  }

  footer h2 {
    font-size: 20px;
  }

  footer {
    position: relative;
  }
}






/* Mobile-First Responsive Design */
@media (max-width: 768px) {
  .hero-section {
    height: 40vh;
  }
}

/* Shadow Effects */
.button-shadow {
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.button-shadow:hover {
  box-shadow: 0 -6px 8px -2px rgba(0, 0, 0, 0.2), 0 12px 20px -5px rgba(0, 0, 0, 0.2);
}

/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeInAnimation ease 1s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media (min-width: 768px) {
  .footer-column {
    order: initial;
  }
}

/* Accessibility Menu Override */
.accessibility-menu * {
  color: black !important;
}










